//sets all content on pages to center and in a column//
.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;

    

   

}
// changes H1 title elements to an animation that transitions from black to grey back to black over 5 seconds 50 Times, sets font to 50px //
@keyframes change {
    0% {color: black};
    50% {color: lightsteelblue};
    100%{color: black};}
    
.title {
    
    h1{
        font-size: 50px;
        animation-name: change;
        animation-duration: 5s;
        animation-iteration-count: 50;
        animation-timing-function: linear;
        
    }
}
//sets font to 24 pixels, sets picture to a 300pixel square, sets background of picture to black with a 15pixel padding and styles paragraph
// to be in line with the picture//
.blurb {
    
    img{ 
        padding: 15px;
    background-color: black;
    width: 300px;
    height: 300px;
    }
   
    
    p{
        width: 40vw;
        font-size: 24px;
    }
}
 
       
    
    
//styles a link at the bottom of the page to the Contact page. Link begins black, when hovered over will change to a hotpink color
// and once visted will turn grey// 

.contact{
    align-items: flex-end;
    a{
        text-decoration: underline;
        color: black;
        font-size: 24px;
        font-style: italic;
    }
   
    a:visited{
        color: grey;
        
    }
    a:hover{
        color: hotpink;
        font-size: 32px;
        
    }
}
/*--For mobile devices--*/
  @media screen and (max-width: 375px)  {
    .content1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        
    }
    .blurb{
        img{
            width: 50vw;
            height: 25vh;

        }
        p{
            width: 100vw;
            font-size: 18px;
        }
    }
    
}