//sets elements in the Maisie div to center, and spaced evenly through out the page. Sets back ground of picture to black, to give it a nice border
// sets image to a medium square, sets the background of the text to black, set font to white and centers the text in the middle of the page//

.Maisie{
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    height: calc(100vh - 10vh);
   img{
    padding: 15px;
    background-color: black;
    width: 25vw;
    height: 36vh;
       
    }

.Maisie-blurb{
    background-color: black;
    text-align: center;
    padding: 50px;
    margin: 50px 400px 0px 400px;
    p{
        color: white;
    }
    

    
}
}
/*--For mobile devices--*/
@media screen and (max-width: 400px){
    .Maisie{
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        img{
            width: 50vw;
            height: 25vh;
        }
    
    .Maisie-blurb{
       margin: 0px;
       padding: 0px;
       
        
    }

}}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .Maisie{
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        img{
            width: 40vw;
            height: 25vh;
        }
    
    .Maisie-blurb{
       margin: 100px;
       padding: 10px;
       
        p{
            font-size: large;
        }
    }
}
}