body {
  background-image: url("https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
  background-color: #cccccc;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-header {
  height: 10vh;
}

.nav-header nav {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: 'Times New Roman', Arial, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 27px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logos {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 90px;
          column-gap: 90px;
}

.logos img {
  width: 90px;
  height: 90px;
}

.alinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  -webkit-column-gap: 70px;
          column-gap: 70px;
  padding: 0px;
}

.alinks a {
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
}

.alinks a:link, .alinks a:visited {
  background-color: lightblue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}

.alinks .home {
  height: calc(100vh - 10vh);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -500px;
}

.alinks .landing {
  border-style: double;
  border-width: 5vh;
}

.alinks .landing h1 {
  color: black;
  font-size: 65px;
  text-align: center;
  text-decoration: underline;
  -webkit-animation-name: change;
          animation-name: change;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.alinks .landing h2 {
  color: lightslategrey;
  font-size: 45px;
  text-align: center;
  -webkit-animation-name: change;
          animation-name: change;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.alinks .landing h3 {
  color: lightslategrey;
  font-size: 35px;
  text-align: center;
  -webkit-animation-name: change;
          animation-name: change;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: 50;
          animation-iteration-count: 50;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes change {
  0% {
    color: black;
  }
  50% {
    color: lightsteelblue;
  }
  100% {
    color: black;
  }
}

@keyframes change {
  0% {
    color: black;
  }
  50% {
    color: lightsteelblue;
  }
  100% {
    color: black;
  }
}

/*--For mobile devices--*/
@media screen and (max-width: 375px) {
  body {
    background-image: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .home {
    border-width: 3vh;
    display: contents;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .home h1 {
    font-size: 32px;
  }
  body .home h2 {
    font-size: 24px;
  }
  body .home h3 {
    font-size: 18px;
  }
  body .landing {
    margin-top: 10vh;
  }
  body .alinks a {
    font-size: 14px;
  }
  body .logos {
    margin-top: 5vh;
    -webkit-column-gap: 115px;
            column-gap: 115px;
  }
  body .logos img {
    width: 15vw;
    height: 10vh;
  }
}

/*-----For tablets: ---------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-image: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: contents;
  }
  .landing {
    margin-top: 15vh;
  }
}
/*# sourceMappingURL=index.css.map */