
//sets a static background image that doesn't repeat//
body {
    background-image: url("https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
    background-color: #cccccc;
    background-position:  center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-direction: column;
 
   }
   //sets a horizontal navigation bar at the top of the page, the colour is black//

.nav-header {
    height: 10vh;
   

     nav {
        height: 100%;
        width: 100%;
        background-color: black; 
        font-family: 'Times New Roman', Arial, serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        position: sticky;
    }
    

}
//sets the font colour of the html links to white//
nav a{
    color: white;
    text-decoration: none;
    font-size: 27px;
    flex-wrap: wrap;
    display: flex;
}
// sets the icons for the links in place above the links.//
.logos{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    column-gap: 90px;
    img{
    width: 90px;
    height: 90px;}
}
//sets link background to light blue, with a 70 pixel gap between each link. Sets the font to white and centers the links in the middle of the page
//

.alinks{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin-bottom: 40px;
    column-gap: 70px;
    padding: 0px;
    
        a{
            text-decoration: none;
            font-size: 20px;
            color:whitesmoke; 
            }
        
            
        a:link, a:visited {
            background-color: lightblue;
            color: white;
            padding: 14px 25px;
            text-align: center; 
            text-decoration: none;}
        
    
}

//sets all elements to the middle of the page//
    .home{
        height: calc(100vh - 10vh);
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    
    margin: -200px 0 0 -500px;}
  
    
//sets a double border around the text elements//
.landing{
   
   border-style: double;
   border-width: 5vh;

   
   
//    changes H1, H2 & H3 title elements to an animation that transitions from black to grey back to black over 5 seconds 50 times//

   
    h1{ 
        color: black;
        font-size: 65px;
        text-align: center;
        text-decoration: underline;
        animation-name: change;
        animation-duration: 10s;
        animation-iteration-count: 5;
        animation-timing-function: linear;



    }
    h2{
        color: lightslategrey;
        font-size: 45px;
        text-align: center;
        animation-name: change;
        animation-duration: 10s;
        animation-iteration-count: 5;
        animation-timing-function: linear;
       
    }
    h3{
        color: lightslategrey;
        font-size: 35px;
        text-align: center;
        animation-name: change;
        animation-duration: 10s;
        animation-iteration-count: 50;
        animation-timing-function: linear;
       
        
    }
}
    
@keyframes change {
    0% {color: black};
    50% {color: lightsteelblue};
    100%{color: black};
}








   /*--For mobile devices--*/
   @media screen and (max-width: 375px) {
   
        body {
        background-image: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80);
        display: flex;
        flex-direction: column;
        justify-content: center;
       
        .home{
            
        border-width: 3vh;
        display: contents;
           flex-direction: column;
           justify-content: center;
           h1{
               font-size: 32px;
           }
           h2{
               font-size:24px;
           }
           h3{
               font-size:18px;
           }
       }
       .landing{
           margin-top: 10vh;

       }
       .alinks{

           
           a{
               font-size: 14px;
           }
       }
       .logos{
           margin-top: 5vh;
           column-gap: 115px;
           img{
               width: 15vw;
               height:10vh;
               
           }
       }
    }
    
 
}

/*-----For tablets: ---------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-image: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80);
        display: flex;
        flex-direction: column;
        justify-content: center;
        
}
    .home{
        justify-content: center;
        display: contents;
    }
    .landing{
        margin-top: 15vh;
    }
}



